@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body, html {
    font-family: 'Montserrat';
    margin: 0;

    a{
            text-decoration:none ;
    }
}

header{
    padding: 2em;

    .logo{
        color: black;
        font-weight: bold;
    }

    .menu-btn{
        width: 18px;
        float: right;
        cursor: pointer;
    }
}

section{
    padding: 4em;

    h2{
        margin: 1em auto;
        width: 70%;

        &::before {
            content: ' ';
            border-top: 5px solid rgb(185, 183, 183);
            display: block;
        }
    }
}

nav{
    position: absolute;
    background: black;
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: none; 
    transform: scaleX(0);
    transform-origin: right;

    .close-btn{
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10px auto 0 auto;
        padding:0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;

        a{
            color: white;
            font-weight: bold;
            font-size: 1.4em;
        }

        span {
            color: grey;
            display: block;
            font-size: .75em;
            margin-top: 20px;
        }

        li {
            opacity: 0;
        }
    }
}


.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;

    .close-btn{
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1){
        animation: menu-item-anim .5s forwards 1s linear;
    }

    li:nth-of-type(2){
        animation: menu-item-anim .5s forwards 1.2s linear;
    }

    li:nth-of-type(3){
        animation: menu-item-anim .5s forwards 1.4s linear;
    }

    li:nth-of-type(4){
        animation: menu-item-anim .5s forwards 1.6s linear;
    }
}


@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes menu-item-anim{
    /* 
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    } */


    0% { opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
    4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 125.912, 0, 1); }
    8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.647, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.53, 0, 1); }
    16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.007, 0, 1); }
    27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.352, 0, 1); }
    38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.311, 0, 1); }
    60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1); }
    82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 

  
 
}